<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ShortListMusicProd</key>
	<dict>
		<key>ParseAppId</key>
		<string>XXXXXXXXX</string>
		<key>ParseClientKey</key>
		<string>XXXXXXXXX</string>
	</dict>
	<key>ShortListMusicDev</key>
	<dict>
		<key>ParseAppId</key>
		<string>XXXXXXXX</string>
		<key>ParseClientKey</key>
		<string>XXXXXXXX</string>
	</dict>
</dict>
</plist>
